.bundle
.yardoc
Gemfile.lock
_yardoc
coverage
profile
doc
pkg
spec/reports
tmp
lib/photish/assets/output
packaging/releases
packaging/tmp
packaging/vendor

# Added these to not force others to use them.
.overcommit.yml
.rvmrc
